{% load static %}

<!DOCTYPE html>
<html lang="{{ lang | default:'en' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Arch manual pages{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "archlinux-common/navbar.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "archmanweb/base.css" %}">
        <link rel="icon" type="image/x-icon" href="{% static "archlinux-common/favicon.ico" %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static "archlinux-common/favicon.ico" %}" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="archnavbar" class="{% block navbarclass %}anb-home{% endblock %}">
                <div id="logo"><a href="https://archlinux.org" title="Return to the main page">Arch Linux</a></div>
                <div id="archnavbarmenu">
                    <ul id="archnavbarlist">
                        {% if search_form is None %}
                        <form action="{% url 'search' %}" class="search" role="search">
                            <input type="search" placeholder="Search manual page" name="q" value="{% block current_search_term %}{% endblock %}" />
                            <input type="submit" name="go" value="Go" />
                        </form>
                        {% endif %}
                        <li id="anb-home"><a href="https://archlinux.org/" title="Arch news, packages, projects and more">Home</a></li>
                        <li id="anb-packages"><a href="https://archlinux.org/packages/" title="Arch Package Database">Packages</a></li>
                        <li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">Forums</a></li>
                        <li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">Wiki</a></li>
                        <li id="anb-bugs"><a href="https://bugs.archlinux.org/" title="Report and track bugs">Bugs</a></li>
                        <li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux Security Tracker">Security</a></li>
                        <li id="anb-aur"><a href="https://aur.archlinux.org/" title="Arch Linux User Repository">AUR</a></li>
                        <li id="anb-download"><a href="https://archlinux.org/download/" title="Get Arch Linux">Download</a></li>
                    </ul>
                </div>
            </div>
            <!--
            <nav>
                {% url 'index' as url_index %}
                <a href="{{ url_index }}" {% if request.path == url_index %}class="selected"{% endif %}>Home</a>
                {% url 'simple_view' 'about' as url_about %}
                <a href="{{ url_about }}" {% if request.path == url_about %}class="selected"{% endif %}>About</a>
                {% url 'simple_view' 'dev' as url_dev %}
                <a href="{{ url_dev }}" {% if request.path == url_dev %}class="selected"{% endif %}>Dev</a>
            </nav>
            -->
        </header>
        <main id="content">
            {% block content %}
            <article id="content-left">
                {% block content_left %}
                {% endblock %}
            </article>
            <aside id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </aside>
            {% endblock %}
        </main>
        <footer>
            <p>Powered by <a href="https://gitlab.archlinux.org/archlinux/archmanweb">archmanweb</a>,
               using <a href="https://mandoc.bsd.lv/">mandoc</a> for the conversion of manual pages.
            </p>
            <p>The website is available under the terms of the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0</a>
               license, except for the contents of the manual pages, which have their own license
               specified in the corresponding Arch Linux package.
            </p>
        </footer>
    </body>
</html>
