{% extends "base.html" %}
{% load query_transform %}
{% load reverse_man_url %}
{% load pagination_links %}

{% block head %}
    <meta name="robots" value="noindex">
{% endblock %}

{% block content %}
<article class="single-column-content">

<section class="filter-parameters box">
    <h2>Listing parameters</h2>

    <form action="{% url 'listing' %}" class="listing" role="search">
        {{ listing_form.non_field_errors }}
        <fieldset>
            <legend>Enter listing parameters</legend>
            {# fieldset cannot be a flex container: https://stackoverflow.com/q/28078681 #}
            <div class="flex-container">
            {% for field in listing_form %}
            {% if not field.is_hidden %}
            <div>
                <label for="{{ field.id_for_label }}" title="{{ field.help_text }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
            <div>
                <label>&nbsp;</label>
                <input title="List manuals satisfying these criteria" type="submit" value="Show" />
            </div>
            </div>
        </fieldset>
    </form>
</section>

<section>
<h2>List of manual pages</h2>

{% if man_pages %}
    <ul class="multi-column">
    {% for man in man_pages %}
        <li>
            <span class="language-tag">[{{ man.lang }}]</span>
            {% if pkg %}
                <a href="{% reverse_man_url pkg.repo pkg.name man.name man.section man.lang '' %}">{{ man.name }}({{ man.section }})</a>
            {% else %}
                <a href="{% reverse_man_url '' '' man.name man.section man.lang '' %}">{{ man.name }}({{ man.section }})</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No manual pages matching these criteria.</p>
{% endif %}

{% if man_pages.paginator.num_pages != 1 %}
    {% pagination_links request man_pages 'page' %}
{% endif %}
</section>

{% if pkg and symlinks %}
    <section>
    <h2>List of symbolic links</h2>
    <ul class="multi-column">
    {% for symlink in symlinks %}
        <li>
            <span class="language-tag">[{{ symlink.lang }}]</span>
            <a href="{% reverse_man_url pkg.repo pkg.name symlink.from_name symlink.from_section symlink.lang '' %}">{{ symlink.from_name }}({{ symlink.from_section }})</a>
            &rarr;
            <a href="{% reverse_man_url '' '' symlink.to_name symlink.to_section symlink.lang '' %}">{{ symlink.to_name }}({{ symlink.to_section }})</a>
        </li>
    {% endfor %}
    </ul>

    {% if symlinks.paginator.num_pages != 1 %}
        {% pagination_links request symlinks 'page_symlinks' %}
    {% endif %}
    </section>
{% endif %}

</article>
{% endblock %}
