body {
  margin: 0;
}

header {
    padding: 10px 15px;
    background: #333;
    border-bottom: 5px #08c solid;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
header > h1 {
    font-size: 1.25em;
    margin: 0;
}
header > nav {
    /* equal to the difference between font sizes of header>h1 and header>nav>a */
    margin-top: 0.25em;
}
header > nav > a {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: #999;
}
header > nav > a:focus,
header > nav > a:hover {
    text-decoration: underline;
    color: white;
}
header > nav > a.selected {
    color: white;
}
header > nav > a:not(:last-child) {
    margin-right: 1em;
}

main#content {
    display: flex;
    margin: 1em;
}

#content-left {
    display: block;
    order: 1;
}

#sidebar {
    display: block;
    order: 2;
    margin-left: 2em;
}
#sidebar > * {
    margin-bottom: 1em;
}

.package-info > table {
    padding-left: 1.25em;
}
.package-info td {
    padding: 0;
}
.package-info td:not(:first-child) {
    padding-left: 1ex;
}

/* needs to be explicit because the main#content has display:flex */
article.single-column-content {
    width: 100%;
}

ul.multi-column,
ol.multi-column {
    column-width: 20em;
    column-gap: 1.5em;
    padding-left: 0.5em;
}
ul.multi-column > li,
ol.multi-column > li {
    margin-left: 2em; /* needed to preserve bullets/numbers in multi-column layout */
}

/* last-updates table */
table.last-updates {
    text-align: left;
}
table.last-updates th,
table.last-updates td {
    padding-right: 1em;
}

section.search-results-pkg dl {
    margin: 0;
}
