header {
    margin-bottom: 1ex;
}
header > h1 {
    display: inline;
    margin-right: 3em;
    font-size: 1.25em;
}
header > nav {
    display: inline;
    margin-right: 3em;
}
header > nav > a {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}
header > nav > a.selected {
    color: inherit;
}
header > nav > a:not(:last-child) {
    margin-right: 0.5em;
}
header > form.search {
    display: inline;
}

main#content {
    display: flex;
}

#content-left {
    display: block;
    order: 1;
}

#sidebar {
    display: block;
    order: 2;
    margin-left: 2em;
}
#sidebar > * {
    margin-bottom: 1em;
}

.package-info > table {
    padding-left: 1.25em;
}
.package-info td {
    padding: 0;
}
.package-info td:not(:first-child) {
    padding-left: 1ex;
}

/* needs to be explicit because the main#content has display:flex */
article.single-column-content {
    width: 100%;
}

ul.multi-column,
ol.multi-column {
    column-width: 20em;
    column-gap: 1.5em;
    padding-left: 0.5em;
}
ul.multi-column > li,
ol.multi-column > li {
    margin-left: 2em; /* needed to preserve bullets/numbers in multi-column layout */
}

/* last-updates table */
table.last-updates {
    text-align: left;
}
table.last-updates th,
table.last-updates td {
    padding-right: 1em;
}
