header > h1 {
    display: inline;
    margin-right: 3em;
    font-size: 1.25em;
}
header > a {
    font-weight: bold;
    font-size: 1.25em;
    margin-right: 0.5em;
    text-decoration: none;
}
header > a.selected {
    color: inherit;
}
header > form.search {
    display: inline;
    margin-left: 3em;
}

main#content {
    display: flex;
}

#content-left {
    display: block;
    order: 1;
}

#sidebar {
    display: block;
    order: 2;
    margin-left: 2em;
}

/* needs to be explicit because the main#content has display:flex */
article.single-column-content {
    width: 100%;
}

ul.multi-column,
ol.multi-column {
    column-width: 20em;
    column-gap: 1.5em;
    padding-left: 0.5em;
}
ul.multi-column > li,
ol.multi-column > li {
    margin-left: 2em; /* needed to preserve bullets/numbers in multi-column layout */
}
