{% load static %}

<!DOCTYPE html>
<html lang="{{ lang | default:'en' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Arch manual pages{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'archweb_manpages/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Arch manual pages</h1>
            <form action="{% url 'search' %}" class="search" role="search">
                <input type="search" placeholder="Search manual page" name="q" value="{% block current_search_term %}{% endblock %}" />
                <input type="submit" value="Go" />
            </form>
            <nav>
                {% url 'index' as url_index %}
                <a href="{{ url_index }}" {% if request.path == url_index %}class="selected"{% endif %}>Home</a>
                {% url 'simple_view' 'about' as url_about %}
                <a href="{{ url_about }}" {% if request.path == url_about %}class="selected"{% endif %}>About</a>
                {% url 'simple_view' 'dev' as url_dev %}
                <a href="{{ url_dev }}" {% if request.path == url_dev %}class="selected"{% endif %}>Dev</a>
            </nav>
        </header>
        <main id="content">
            {% block content %}
            <article id="content-left">
                {% block content_left %}
                {% endblock %}
            </article>
            <aside id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </aside>
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
