{% extends "base.html" %}

{% block head %}
    <meta name="robots" value="noindex">
{% endblock %}

{% block content %}
<article>

<h2>Test cases</h2>

These links serve as test cases to ensure that all features still work, they are not useful to regular users.

<h3>URLs with dots</h3>
<ul class="multi-column" style="columns: 4;">
    <li><a href="{% url 'index' %}man/intro">intro</a></li>
    <li><a href="{% url 'index' %}man/intro.1">intro.1</a></li>
    <li><a href="{% url 'index' %}man/intro.1.en">intro.1.en</a></li>
    <li><a href="{% url 'index' %}man/intro.en">intro.en</a></li>
    <li><a href="{% url 'index' %}man/systemd.service">systemd.service</a></li>
    <li><a href="{% url 'index' %}man/systemd.service.5">systemd.service.5</a></li>
    <li><a href="{% url 'index' %}man/systemd.service.5.en">systemd.service.5.en</a></li>
    <li><a href="{% url 'index' %}man/systemd.service.en">systemd.service.en</a></li>
    <li><a href="{% url 'index' %}man/gimp-2.8">gimp-2.8</a></li>
    <li><a href="{% url 'index' %}man/gimp-2.8.1">gimp-2.8.1</a></li>
    <li><a href="{% url 'index' %}man/gimp-2.8.1.en">gimp-2.8.1.en</a></li>
    <li><a href="{% url 'index' %}man/gimp-2.8.en">gimp-2.8.en</a></li>
    <li><a href="{% url 'index' %}man/CA.pl">CA.pl</a></li>
    <li><a href="{% url 'index' %}man/CA.pl.1ssl">CA.pl.1ssl</a></li>
    <li><a href="{% url 'index' %}man/CA.pl.1ssl.en">CA.pl.1ssl.en</a></li>
    <li><a href="{% url 'index' %}man/CA.pl.en">CA.pl.en</a></li>
</ul>

<h3>Language fallback</h3>
<ul>
    <li><a href="{% url 'index' %}man/nvidia-smi.cs">nvidia-smi.cs</a> &rarr; <a href="{% url 'index' %}man/nvidia-smi.en">nvidia-smi.en</a> &rarr; <a href="{% url 'index' %}man/nvidia-smi.1.en">nvidia-smi.1.en</a>
        (maybe we should try harder and avoid the double redirect)
    </li>
    <li><a href="{% url 'index' %}man/nvidia-smi.1.cs">nvidia-smi.1.cs</a> &rarr; <a href="{% url 'index' %}man/nvidia-smi.1.en">nvidia-smi.1.en</a></li>
    <li><a href="{% url 'index' %}man/nvidia-smi.foo">nvidia-smi.foo</a> &rarr; 404</li>
    <li><a href="{% url 'index' %}man/nvidia-smi.1.foo">nvidia-smi.1.foo</a> &rarr; 404</li>
</ul>

<h3>Package filter</h3>
<ul>
    <li><a href="{% url 'index' %}man/nvidia-utils/nvidia-smi.en">nvidia-utils/nvidia-smi.en</a></li>
    <li><a href="{% url 'index' %}man/nvidia-340xx-utils/nvidia-smi.en">nvidia-340xx-utils/nvidia-smi.en</a></li>
    <li><a href="{% url 'index' %}man/nvidia-utils/nvidia-smi.cs">nvidia-utils/nvidia-smi.cs</a> &rarr; <a href="{% url 'index' %}man/nvidia-utils/nvidia-smi.en">nvidia-utils/nvidia-smi.en</a></li>
    <li><a href="{% url 'index' %}man/nvidia-340xx-utils/nvidia-smi.cs">nvidia-340xx-utils/nvidia-smi.cs</a> &rarr; <a href="{% url 'index' %}man/nvidia-340xx-utils/nvidia-smi.cs">nvidia-utils/nvidia-340xx-smi.en</a></li>
    <li><a href="{% url 'index' %}man/foo/nvidia-smi.cs">foo/nvidia-smi.cs</a> &rarr; 404</li>
    <li><a href="{% url 'index' %}man/foo/nvidia-smi.en">foo/nvidia-smi.en</a> &rarr; 404</li>
</ul>

<h3 id=".so_macros">.so macros</h3>
<p>
There is a <a href="{% url 'index' %}man/groff.1">groff(1)</a> extension for the
<a href="{% url 'index' %}man/man.7">man(7)</a> and <a href="{% url 'index' %}man/mdoc.7">mdoc(7)</a> languages
to include contents of other files using the <code>.so</code> macro. In normal operation where manuals are stored
as files on a file system, the <a href="{% url 'index' %}man/soelim.1">soelim(1)</a> pre-processor handles the
inclusion. Our system is based on a database rather than a file system, so we need a custom <code>soelim</code>
as well.
</p>
<p>Some pages which contain the <code>.so</code> macro:</p>
<ul>
    <li><a href="{% url 'index' %}man/[.1.zh_CN">[.1.zh_CN</a></li>
    <li><a href="{% url 'index' %}man/pwunconv.8">pwunconv(8)</a></li>
    <li><a href="{% url 'index' %}man/pam.8">pam(8)</a></li>
    <li><a href="{% url 'index' %}man/url.7">url(7)</a></li>
    <li><a href="{% url 'index' %}man/xorg.conf.d.5">xorg.conf.d(5)</a></li>
    <li><a href="{% url 'index' %}man/glibc.7">glibc(7)</a></li>
    <li><a href="{% url 'index' %}man/systemd-logind.8">systemd-logind(8)</a></li>
    <li><a href="{% url 'index' %}man/shorewall6.conf.5">shorewall6.conf(5)</a>
        points to a page contained in a different package (<code>shorewall</code> instead of <code>shorewall6</code>)
        </li>
    <li><a href="{% url 'index' %}man/lsof.8">lsof(8)</a>
        (not a "hardlink", includes an invalid file <code>./00DIALECTS</code>)
        </li>
</ul>

</article>
{% endblock %}
