{% extends "base.html" %}
{% load make_table %}

{% block content %}
<article>

<p>
This website is a repository of all manual pages available in the <a htref="https://www.archlinux.org/packages/">Arch Linux packages</a>.
It is an unofficial project created and maintained by the <a href="https://wiki.archlinux.org/index.php/ArchWiki:Administrators">ArchWiki administrators</a>.
The code is developed in a <a href="https://github.com/lahwaacz/archweb_manpages">GitHub repository</a>.
</p>

<p>
There are {{ count_man_pages }} manual pages and {{ count_symlinks }} symbolic links from
{{ count_pkgs_with_mans }} packages, another {{ count_pkgs_without_mans }} packages do not contain
any indexable manual pages.
</p>

<p>
Traditionally, manual pages are organized into several <em>sections</em>. Read the introduction
pages for each section:
<a href="{% url 'index' %}man/intro.1">intro(1)</a>,
<a href="{% url 'index' %}man/intro.2">intro(2)</a>,
<a href="{% url 'index' %}man/intro.3">intro(3)</a>,
<a href="{% url 'index' %}man/intro.4">intro(4)</a>,
<a href="{% url 'index' %}man/intro.5">intro(5)</a>,
<a href="{% url 'index' %}man/intro.6">intro(6)</a>,
<a href="{% url 'index' %}man/intro.7">intro(7)</a>,
<a href="{% url 'index' %}man/intro.8">intro(8)</a>.
Some packages provide their manuals in a subsection (e.g. 3ssl) and some use non-standard sections
(e.g. 0 or n).
</p>

<p>
There are several ways to find a specific manual page:
<ul>
    <li>Use the <a href="{% url 'search' %}">search form</a> to search for keywords in the names and
        descriptions of manual pages and packages.</li>
    <li>List all manual pages sorted <a href="{% url 'listing' %}">alphabetically</a>,
        <a href="{% url 'listing' %}?sorting=section">by section</a> or
        <a href="{% url 'listing' %}?sorting=lang">by language</a>.
        </li>
    <li>List English manual pages sorted
        <a href="{% url 'listing' %}?lang=en&sorting=alphabetical">alphabetically</a> or
        <a href="{% url 'listing' %}?lang=en&sorting=section">by section</a> (or similarly for any
        other language).
        </li>
    <li>List manual pages in a particular section, e.g.
        <a href="{% url 'listing' %}?section=1">all pages in section 1</a> or
        <a href="{% url 'listing' %}?lang=en&section=3">English pages in section 3</a>.
        </li>
    <li>List manual pages for a particular package, e.g.
        <a href="{% url 'listing' %}coreutils/">coreutils</a> or
        <a href="{% url 'listing' %}core/acl/">core/acl</a>.
        </li>
</ul>

<p>
The manual pages are addressable as
<code>/man/&lt;repo&gt;/&lt;pkgname&gt;/&lt;page&gt;.&lt;section&gt;.&lt;language&gt;.&lt;format&gt;</code>.
Any part except <code>&lt;page&gt;</code> is optional:
<ul>
    <li><code>&lt;repo&gt;</code> and <code>&lt;pkgname&gt;</code> can be used to disambiguate the
        page version found in multiple packages. If omitted, manual pages are looked up in package
        repositories in the following order: core, extra, community, multilib.</li>
    <li>If <code>&lt;section&gt;</code> is missing, you will be redirected to the first manual page
        found in sections in the following order: 1, n, l, 8, 6, 3, 0, 2, 5, 7, 4, 9.</li>
    <li>The default language is <code>en</code>. Note that <code>en</code> is also the fallback
        language for pages, which are not available in any other language.</li>
    <li>The default format is <code>html</code> (other supported formats are <code>txt</code> and
        <code>raw</code>).</li>
</ul>
Note that symbolic links, such as <a href="{% url 'index' %}man/bunzip2.1">bunzip2(1)</a>, are
implemented as HTTP redirects with the 302 status code. Symbolic links are included in per-package
listings, such as <a href="{% url 'listing' %}core/openssl/">core/openssl</a>.
</p>

<section>
    <h2>Last updates</h2>
    {% make_table last_updates class_="styled-table" %}
</section>

</article>
{% endblock %}

{% block footer %}
{% endblock %}
