<h1>About</h1>
<p>
This website indexes all man pages from the <a htref="https://www.archlinux.org/packages/">Arch official repositories</a>.
It was created for the <a href="https://wiki.archlinux.org/index.php/Template:Man">man template</a> on the Arch wiki, due to dissatisfaction with existing sites considered for this purpose.
See <a href="https://wiki.archlinux.org/index.php/Template_talk:Man#Sources">this discussion</a> for details.
</p>

<p>
The code powering this website can be found in the <a href="https://github.com/lahwaacz/archweb_manpages">lahwaacz/archweb_manpages</a> repository at GitHub.
The <code>mandoc</code> tool from the <a href="http://mdocml.bsd.lv/">mandoc toolset</a> was used for the conversion to HTML.
</p>

<p>
On this website, you can find:
<ul>
    <li>Listings of all man pages sorted <a href="{% url 'listing' %}">alphabetically</a>, <a href="{% url 'listing' %}?sorting=section">by section</a> or <a href="{% url 'listing' %}?sorting=lang">by language</a>.</li>
    <li>Listings of English man pages sorted <a href="{% url 'listing' %}?lang=en&sorting=alphabetical">alphabetically</a> or <a href="{% url 'listing' %}?lang=en&sorting=section">by section</a> (or similarly for any other language).</li>
    <li>Listings of man pages in a particular section, e.g. <a href="{% url 'listing' %}?section=1">all pages in section 1</a> or <a href="{% url 'listing' %}?lang=en&section=3">English pages in section 3</a>.</li>
    <li>Listings of man pages for a particular package, e.g. <a href="{% url 'listing' %}coreutils/">coreutils</a> or <a href="{% url 'listing' %}core/acl/">core/acl</a>.</li>
    <li>And, of course, the content of each man page. There are {{ count_man_pages }} man pages and {{ count_symlinks }} symbolic links from {{ count_pkgs_with_mans }} packages, another {{ count_pkgs_without_mans }} packages don't contain any indexable man pages.</li>
    <li>Symbolic links, such as <a href="{% url 'index' %}man/bunzip2.1">bunzip2(1)</a>, are implemented as HTTP redirects with the 302 status code. Symbolic links are included in per-package listings, such as <a href="{% url 'listing' %}core/openssl/">core/openssl</a>.</li>
</ul>
</p>

<p>
Intro pages:
<a href="{% url 'index' %}man/intro.1">intro(1)</a>,
<a href="{% url 'index' %}man/intro.2">intro(2)</a>,
<a href="{% url 'index' %}man/intro.3">intro(3)</a>,
<a href="{% url 'index' %}man/intro.4">intro(4)</a>,
<a href="{% url 'index' %}man/intro.5">intro(5)</a>,
<a href="{% url 'index' %}man/intro.6">intro(6)</a>,
<a href="{% url 'index' %}man/intro.7">intro(7)</a>,
<a href="{% url 'index' %}man/intro.8">intro(8)</a>,
</p>

<p>
Other interesting manuals (at least for me):
<ul>
    <li><a href="{% url 'index' %}man/man.7">man(7)</a> is written in the old language, <a href="{% url 'index' %}man/mdoc.7">mdoc(7)</a> is written in the new language. OpenBSD versions seem to be significantly newer: <a href="http://man.openbsd.org/man.7">man(7)</a>, <a href="http://man.openbsd.org/mdoc.7">mdoc(7)</a>.</li>
</ul>
</p>

<h1>TODO</h1>
<p>
<ul>
    <li>improve page layout and CSS stylesheets</li>
    <li>import testing repositories</li>
    <li>when downloading, ensure that same packages from different repos don't overwrite themselves (though if pacman does not handle it, it should never happen)</li>
    <li>post-processing: find cross-references like <code>&lt;b&gt;intro&lt;/b&gt;(1)</code> resulting from pages written in <a href="{% url 'index' %}man/man.7">man(7)</a> (see <a href="https://github.com/Debian/debiman/issues/15#issuecomment-325201593">debiman's approach</a>)</li>
    <li>
        problematic pages:
        <ul>
            <li>HTML converter fails on <a href="{% url 'index' %}zh_CN/man/[.1">[(1)</a> (reference to a <it>file</it></li>
        </ul>
    </li>
</ul>
</p>
