{% extends "base.html" %}

{% block content %}
<article>

<section>
<p>
This website is a repository of all manual pages available in the <a htref="https://www.archlinux.org/packages/">Arch Linux packages</a>.
</p>

<p>
On this website, you can find:
<ul>
    <li>Listings of all man pages sorted <a href="{% url 'listing' %}">alphabetically</a>, <a href="{% url 'listing' %}?sorting=section">by section</a> or <a href="{% url 'listing' %}?sorting=lang">by language</a>.</li>
    <li>Listings of English man pages sorted <a href="{% url 'listing' %}?lang=en&sorting=alphabetical">alphabetically</a> or <a href="{% url 'listing' %}?lang=en&sorting=section">by section</a> (or similarly for any other language).</li>
    <li>Listings of man pages in a particular section, e.g. <a href="{% url 'listing' %}?section=1">all pages in section 1</a> or <a href="{% url 'listing' %}?lang=en&section=3">English pages in section 3</a>.</li>
    <li>Listings of man pages for a particular package, e.g. <a href="{% url 'listing' %}coreutils/">coreutils</a> or <a href="{% url 'listing' %}core/acl/">core/acl</a>.</li>
    <li>And, of course, the content of each man page. There are {{ count_man_pages }} man pages and {{ count_symlinks }} symbolic links from {{ count_pkgs_with_mans }} packages, another {{ count_pkgs_without_mans }} packages don't contain any indexable man pages.</li>
    <li>The man pages are addressable as <code>/man/&lt;repo&gt;/&lt;pkgname&gt;/&lt;page&gt;.&lt;section&gt;.&lt;language&gt;.&lt;format&gt;</code>.
        Any part except <code>&lt;page&gt;</code> is optional: <code>&lt;repo&gt;</code> and <code>&lt;pkgname&gt;</code> can be used to disambiguate the page version found in multiple packages;
        if <code>&lt;section&gt;</code> is missing, you will be redirected to the first section found;
        the default language is <code>en</code> and the default format is <code>html</code>.
        Note that <code>en</code> is also the fallback language for pages, which are not available in any other language.
    </li>
    <li>Symbolic links, such as <a href="{% url 'index' %}man/bunzip2.1">bunzip2(1)</a>, are implemented as HTTP redirects with the 302 status code. Symbolic links are included in per-package listings, such as <a href="{% url 'listing' %}core/openssl/">core/openssl</a>.</li>
</ul>
</p>

<p>
Intro pages:
<a href="{% url 'index' %}man/intro.1">intro(1)</a>,
<a href="{% url 'index' %}man/intro.2">intro(2)</a>,
<a href="{% url 'index' %}man/intro.3">intro(3)</a>,
<a href="{% url 'index' %}man/intro.4">intro(4)</a>,
<a href="{% url 'index' %}man/intro.5">intro(5)</a>,
<a href="{% url 'index' %}man/intro.6">intro(6)</a>,
<a href="{% url 'index' %}man/intro.7">intro(7)</a>,
<a href="{% url 'index' %}man/intro.8">intro(8)</a>.
</p>
</section>

{# TODO: probably should be moved on a separate page #}
<section>
    <h1>About</h1>

    <p>
        This website was created for the <a href="https://wiki.archlinux.org/index.php/Template:Man">man template</a>
        on the Arch wiki. Other sites which could be used for linking either don't provide the same manuals as Arch
        packages, or don't have suitable URL addressing scheme, or have other issues. Therefore we decided to build
        a new service to meet our requirements:
    </p>
    <ol>
        <li>All man pages from official Arch packages are available. Old versions and permalinks are not necessary.</li>
        <li>Functionality does not require Javascript.</li>
        <li>Pages are addressable by their name and section, both occurring exactly once in the URL to avoid
            problems with pages such as <a href="{% url 'index' %}man/ar.1">ar(1)</a> and
            <a href="{% url 'index' %}man/ar.1p">ar(1p)</a>.
            </li>
        <li>Human-readable subsection anchors.</li>
        <li>The page should clearly indicate the Arch package version containing the page.</li>
    </ol>
    <p>
        See the <a href="https://wiki.archlinux.org/index.php/Template_talk:Man#Sources">original discussion</a>
        for details.
    </p>

    <p>
        We used a dynamic approach instead of building a website consisting of completely static pages. The main
        building blocks are the <a href="https://www.djangoproject.com/">Django web framework</a>, the
        <a href="https://www.postgresql.org/">PostgreSQL</a> database server, the <code>mandoc</code> tool from
        the <a href="http://mdocml.bsd.lv/">mandoc toolset</a> for the conversion to HTML and the
        <a href="https://github.com/archlinux/pyalpm">pyalpm</a> for data extraction from the Arch repositories.
        The code is available in the <a href="https://github.com/lahwaacz/archweb_manpages">lahwaacz/archweb_manpages</a>
        repository at GitHub.
    </p>

    <p>
        Overall, this approach allows us to provide the following features without rebuilding the whole website
        from scratch:
    </p>
    <ul>
        <li>Listings with custom filters and orderings.</li>
        <li>Links to other versions of the same manual provided by different packages.</li>
        <li>Links to similar manuals available in other sections or languages.</li>
    </ul>
</section>

</article>
{% endblock %}

{% block footer %}
    <p><strong>Note:</strong> This website is far from finished, if you can please check out the <a href="{% url 'dev' %}">developer notes</a> and help us finish it!</p>
{% endblock %}
