{% load query_transform %}
{% load reverse_man_url %}

{% if pkg %}
    <p>The package
    <a href="https://www.archlinux.org/packages/{{ pkg.repo }}/{{ pkg.arch }}/{{ pkg.name }}/">{{ pkg.repo }}/{{ pkg.name }}</a>
    contains these man pages:</p>
{% endif %}

{% if man_pages %}
    <ul>
    {% for man in man_pages %}
        <li>
            <span class="language-tag">[{{ man.lang }}]</span>
            <a href="{% reverse_man_url url_repo url_pkgname man.name man.section man.lang '' %}">{{ man.name }}({{ man.section }})</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No man pages in this list.</p>
{% endif %}

{% if man_pages.paginator.num_pages != 1 %}
    <div class="pagination">
        <span class="page-links">
            {% if man_pages.number != 1 %}
                <a href="?{% query_transform request page=1 %}">first</a>
            {% endif %}

            {% if man_pages.has_previous %}
                <a href="?{% query_transform request page=man_pages.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                page {{ man_pages.number }} of {{ man_pages.paginator.num_pages }}
            </span>

            {% if man_pages.has_next %}
                <a href="?{% query_transform request page=man_pages.next_page_number %}">next</a>
            {% endif %}

            {% if man_pages.number != man_pages.paginator.num_pages %}
                <a href="?{% query_transform request page=man_pages.paginator.num_pages %}">last</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% if pkg and symlinks %}
    <p>...and these symbolic links:</p>
    <ul>
    {% for symlink in symlinks %}
        <li>
            <span class="language-tag">[{{ symlink.lang }}]</span>
            <a href="{% reverse_man_url pkg.repo pkg.name symlink.from_name symlink.from_section symlink.lang '' %}">{{ symlink.from_name }}({{ symlink.from_section }})</a>
            &rarr;
            <a href="{% reverse_man_url '' '' symlink.to_name symlink.to_section symlink.lang '' %}">{{ symlink.to_name }}({{ symlink.to_section }})</a>
        </li>
    {% endfor %}
    </ul>

    {% if symlinks.paginator.num_pages != 1 %}
        <div class="pagination">
            <span class="page-links">
                {% if symlinks.number != 1 %}
                    <a href="?{% query_transform request page_symlinks=1 %}">first</a>
                {% endif %}

                {% if symlinks.has_previous %}
                    <a href="?{% query_transform request page_symlinks=symlinks.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    page {{ symlinks.number }} of {{ symlinks.paginator.num_pages }}
                </span>

                {% if symlinks.has_next %}
                    <a href="?{% query_transform request page_symlinks=symlinks.next_page_number %}">next</a>
                {% endif %}

                {% if symlinks.number != symlinks.paginator.num_pages %}
                    <a href="?{% query_transform request page_symlinks=symlinks.paginator.num_pages %}">last</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endif %}
