{% extends "index.html" %}
{% load query_transform %}
{% load reverse_man_url %}

{% block current_search_term %}{{ request.GET.q }}{% endblock %}

{% block content %}
<article>

<section>
    <h1>Results for <em>{{ request.GET.q }}</em> in manual names</h1>
    <ol start="{{ man_results.start_index }}">
    {% for man in man_results %}
        <li>
            <a href="{% reverse_man_url man.package__repo man.package__name man.name man.section man.lang '' %}">{{ man.name }}({{ man.section }})</a>
            [{{ man.lang }}]
            (from the <a href="{% url 'listing' %}{{ man.package__repo }}/{{ man.package__name }}/">{{ man.package__repo }}/{{ man.package__name }}</a> package)
        </li>
    {% empty %}
        No results.
    {% endfor%}
    <ol>

    {% if man_results.paginator.num_pages != 1 %}
        <nav class="pagination">
            <span class="page-links">
                {% if man_results.number != 1 %}
                    <a href="?{% query_transform request page_man=1 %}">first</a>
                {% endif %}

                {% if man_results.has_previous %}
                    <a href="?{% query_transform request page_man=man_results.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    page {{ man_results.number }} of {{ man_results.paginator.num_pages }}
                </span>

                {% if man_results.has_next %}
                    <a href="?{% query_transform request page_man=man_results.next_page_number %}">next</a>
                {% endif %}

                {% if man_results.number != man_results.paginator.num_pages %}
                    <a href="?{% query_transform request page_man=man_results.paginator.num_pages %}">last</a>
                {% endif %}
            </span>
        </nav>
    {% endif %}
</section>

<section>
    <h1>Results for <em>{{ request.GET.q }}</em> in package names</h1>
    <ol start="{{ pkg_results.start_index }}">
    {% for pkg in pkg_results %}
        <li><a href="{% url 'listing' %}{{ pkg.repo }}/{{ pkg.name }}/">{{ pkg.repo }}/{{ pkg.name }}</a></li>
    {% empty %}
        No results.
    {% endfor%}
    <ol>

    {% if pkg_results.paginator.num_pages != 1 %}
        <nav class="pagination">
            <span class="page-links">
                {% if pkg_results.number != 1 %}
                    <a href="?{% query_transform request page_pkg=1 %}">first</a>
                {% endif %}

                {% if pkg_results.has_previous %}
                    <a href="?{% query_transform request page_pkg=pkg_results.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    page {{ pkg_results.number }} of {{ pkg_results.paginator.num_pages }}
                </span>

                {% if pkg_results.has_next %}
                    <a href="?{% query_transform request page_pkg=pkg_results.next_page_number %}">next</a>
                {% endif %}

                {% if pkg_results.number != pkg_results.paginator.num_pages %}
                    <a href="?{% query_transform request page_pkg=pkg_results.paginator.num_pages %}">last</a>
                {% endif %}
            </span>
        </nav>
    {% endif %}
</section>

</article>
{% endblock %}
